/* common */

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity .3s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:hover {
  opacity: .5;
}

.container {
  margin: 0 16px;
}

/* header */

header {
  padding: 8px 0;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1{
  font-size: 24px;
  margin: 0;
}

header ul {
  display: flex;
  

}

header li a {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
}

header li i {
  font-size: 18px;
}

header li + li {
  margin-left: 8px;
}

header form {
  display: none;
}

header input,
header button {
  all: unset;
}

header input {
  border-bottom: 1px solid #aaa;
  padding: 4px;
  width: 200px;
}
/* hero */

.hero img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
/* products */

.products {
  padding: 80px 0;
}

.products ul {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.products li img {
  width: 100%;

}

.products li a {
  display: block;
}

.products li {
  width: calc((100% - 16px)/ 2);
}

.products li h2 {
  font-size: 14px;
  margin-top: 8px;
}

.products .more {
  display: block;
  width: 70%;
  line-height: 48px;
  border: 2px solid #333;
  text-align: center;
  margin: 32px auto 0;
}


/* footer */
footer {
  background:rgb(224 235 243);
  padding: 16px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  
}

footer small {
  font-size: 16px;
}
footer ul {
  display: flex;
}

footer li + li {
  margin-left: 8px;
}

/* medium screen */

@media(min-width:600px){
  body {
  }
  .products li {
    width: calc((100% - 32px)/ 3);
  }
}


/* large screen */

@media (min-width: 800px){

  .container {
    width: calc(100% - 32px);
    margin: 0 auto;
    max-width: 800px;
  }

  header form{
    display: block;
  }
}
